:root {
    /* primary colours */
    --Dark-cyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);
    /* neutral colours */
    --Very-dark-blue: hsl(212, 21%, 14%);
    --Dark-grayish-blue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);

    /* fonts */
    --Faunces: 'Fraunces', serif;
    /* font-family: 'Fraunces', serif; */

    --Overpass: 'Overpass', sans-serif;
    /* font-family: 'Overpass', sans-serif; */
}

html {
    margin: 0;
    background-color: var(--Cream);
    font-size: 14px;
}

body {
    max-width: 1440;
}





/* Media Query */